* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: crimson;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
